@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,500;6..96,600;6..96,700;6..96,800;6..96,900&display=swap');

.rflex {
  display: flex;
  flex-direction: row;
  align-items: center;


}

.hb {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  width: 2rem;
  height: 4rem;
}

.hbi {
  width: 100%;
  height: .2rem;
  border-radius: 1rem;
  background-color: #d6d6d6;
}

.rflexbar {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
  position: sticky;
  background-color: #fef9f8;
  top: 4rem;
  width: 100vw;
  z-index: 100;

}

.prflex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}


.cflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.glay {
  position: relative;
  background-color: #fef9f8;
  top: 0px;
  z-index: 2;
}

.rblock {
  display: block;
  width: 100%;

}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #0d0d0d;
  height: 4rem;
  margin: 0px;
  padding: 0px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
}

body {
  background-color: #fef9f8;
  margin: 0%;
  padding: 0%;
}

header {
  margin: 0%;
  padding: 0%;
}

.bran {
  margin: 0px;
  margin-left: 2rem;
  padding: 0px;
  color: #ef9273;
  font-family: 'Bodoni Moda';
  font-weight: 500;
  font-size: 3.5rem;

}


.navic {
  color: #fef9f8;
  width: 1.5rem;
  height: auto;
  margin: 1rem;
}

.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  height: 25rem;
  background-color: #ef9273;
  border-radius: 2rem;
  transition: all 0.5s;
}

.prod:hover {
  transform-style: preserve-3d;
  transform: translateZ(20px);
  transform: rotate3d(0, 1, 0, -20deg);
}

.mbg {
  width: 100%;
  height: auto;
}

.chng {
  background-image: url("RES/bg/mbg1.jpg");
  z-index: 3;
  overflow-x: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  background-size: cover;
  position: relative;
  white-space: nowrap;
  width: 100%;
  transition: all 1s ease-in-out;
  top:4rem;
}

.colflex {

  height: 100%;
  width: 100%;
  align-items: center;
}

.tag {

  margin: 0px;
  padding: 0px;
  height: 50%;
  width: 100%;
  color: #fef9f8;
  font-size: 4rem;
  display: flex;
  flex-direction: column-reverse;
  backdrop-filter: blur(2px);
  font-family: 'Bodoni Moda';
}

.smtag {
  height: 50%;
  margin: 0px;
  padding: 0px;
  width: 100%;
  margin: 0px;
  color: #fef9f8;
  backdrop-filter: blur(2px);
  font-size: 2rem;
  font-family: 'Bodoni Moda';



}

.cent {
  height: 100%;
  width: 100%;
  text-align: center;

  z-index: 2;
}

.cant {
  position: relative;
}

.chumma {
  height: 4rem;
  z-index: 4;
  width: 100%;
}

.prodpic {
  width: 18rem;
  height: 15rem;
  margin-top: 1rem;
  border-radius: 2rem 2rem 0rem 0rem;
  transition: all 1s;
}

.prodpic:hover {
  transform: translateZ(20px);
}

.det {
  color: #0d0d0d;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
  font-family: 'Bodoni Moda';
  transform: translateZ(10px);
}

.pri {
  color: #fef9f8;
  margin-right: 2rem;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2rem;
  font-family: 'Bodoni Moda';
}

.crd {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  transform: translateZ(40px);
}

.crt {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-top: auto;
  margin-bottom: 1rem;
  background-color: #0d0d0d;
  border-radius: 2rem;
  transform: translateZ(40px);

}

.crt p {

  color: #fef9f8;
  margin: 0px auto;
  font-size: 1rem;
  font-family: 'Bodoni Moda';
}

.shp {
  margin: 0px;
  margin-left: 1rem;
  padding: 0px;
  color: #ef9273;
  font-family: 'Bodoni Moda';
  font-weight: 500;
  font-size: 2rem;
  z-index: 3;
}

.footer {
  background-color: #d6d6d6;
}

.fot {
  font-family: 'Bodoni Moda';
  font-size: .75rem;
  text-align: center;
  font-weight: 100;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.Lower {

  position: relative;
  z-index: 2;
  margin-top: 4rem;

}


.navsh {
  display: none;
  flex-direction: column;
  align-items: center;
  right: -100%;
  transition: all 1s;


}

.navsh.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0d0d0d;
  width: fit-content;
  position: absolute;
  right: 0px;
  top: 4rem;
  padding-bottom: 100vh;


}

.rflexic {
  display: flex;
  flex-direction: row;
  align-items: center;
  right:0px;
  margin: 0rem 1rem;
  position: absolute;

}
.rflexic span
{
  margin: 0rem 1rem;
}
.revreflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 8rem;
  margin: 0rem 1rem;
  transition: all 300ms;
  
}

.revreflex a {
  text-align: center;
  background-color: #5e5e5e38;
  margin: 1px;
  padding: 1rem;
  border-radius:1rem;
  font-size: 1rem;
  text-decoration: none;
  color: #d6d6d6;
  width: 100%;
  transition: all 300ms;
}
.revreflex a:active {
  text-align: center;
  background-color:#0d0d0d;
  margin: 1px;
  padding: 1rem;
}
.revreflex a:hover {
  text-align: center;
  background-color:#0d0d0d;
  margin: 1px;
  padding: 1rem;
  font-size:1.2rem;
}

header {
  z-index: 4;
  width: 100%;
}

nav {
  z-index: 4;
  width: 100%;
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

@media screen and (max-width:500px) {
  header {
    z-index: 4;
    width: 100%;
  }

  nav {
    z-index: 4;
    width: 100%;
  }

  .rflexbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    background-color: #fef9f8;
    top: 4rem;
    width: 100vw;
    z-index: 100;

  }

  .bar {
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    height: 4rem;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    width: 100%;
    align-items: flex-start;
    position: fixed;
    z-index: 4;
  }

  .bar div {
    max-width: 100%;
  }

  .navs {
    margin: 1rem;
    height: 1rem;
    padding: 0px;
    color: #fef9f8;
    font-family: 'Bodoni Moda';
    text-decoration: none;
    font-weight: lighter;
    text-align: end;
  }

  .bran {
    margin: 0px;
    margin-left: 1rem;
    padding: 0px;
    color: #ef9273;
    font-family: 'Bodoni Moda';
    font-weight: 500;
    font-size: 2.5rem;
  }

  .shp {
    margin: 1rem;
    padding: 0px;
    color: #ef9273;
    font-family: 'Bodoni Moda';
    font-weight: 500;
    font-size: 1rem;
    z-index: 3;
  }

  body {
    width: 100%;
  }

  .chumma {
    height: auto;
    width: 100%;
    position: fixed;
  }

  .chng {
    height: 50vh;
    z-index: -2;
    overflow: auto;
    white-space: nowrap;
    top:4rem;
  }

  .prodpic {
    width: 9rem;
    height: 7.5rem;
    margin-top: .5rem;
    border-radius: 2rem 2rem 0rem 0rem;
  }

  .det {
    color: #0d0d0d;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: .5rem;
    font-family: 'Bodoni Moda';
  }

  .pri {
    color: #fef9f8;
    margin-right: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-family: 'Bodoni Moda';
  }

  .crd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .crt {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin-top: auto;
    margin-bottom: .5rem;
    background-color: #0d0d0d;
    border-radius: 2rem;

  }

  .crt p {

    color: #fef9f8;
    margin: 0px auto;
    font-size: .5rem;
    font-family: 'Bodoni Moda';
  }

  .prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    height: 12.5rem;
    background-color: #ef9273;
    border-radius: 2rem;
    transition: all 0.5s;
  }

  .prflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .glay {

    z-index: 2;
  }

  .hb {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 1.5rem;
    height: 2.5rem;
    right: .5rem;
    position: absolute;
    right: 1rem;
  }

  .hbi {
    width: 100%;
    height: .1rem;
    border-radius: 1rem;
    background-color: #d6d6d6;
  }

  .navic {
    color: #fef9f8;
    height: 1rem;
    width: auto;
    margin: 1rem;
  }

  .revreflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: all 1s;
  }

  .revreflex a {
    text-align: center;
    background-color: #5e5e5e38;
    margin: 1px;
    padding: 1rem;
  }
  .revreflex a:active {
    text-align: center;
    background-color:#0d0d0d;
    margin: 1px;
    padding: 1rem;
  }


  .navsh {
    display: none;
    flex-direction: column;
    align-items: center;
    right: -100%;
    transition: all 1s;


  }

  .navsh.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d0d0d;
    width: fit-content;
    position: absolute;
    right: 0px;
    top: 4rem;
    padding-bottom: 100vh;


  }

  .rflexic {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;

  }

  .footer {
    width: 100%;
  }

  .tag {
    margin: 0px;
    padding: 0px;
    width: 100%;
    vertical-align: bottom;
    text-align: center;
    color: #fef9f8;
    font-size: 3rem;
    font-family: 'Bodoni Moda';

  }

  .smtag {
    margin: 0px;
    padding: 0px;
    width: 100%;
    align-items: center;
    margin: 0px;
    text-align: center;
    color: #fef9f8;
    font-size: 1rem;
    font-family: 'Bodoni Moda';

  }

  .cent {

    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    align-items: center;
    z-index: 2;
  }

  .Lower {
    position: relative;
    z-index: 2;
    width: 100vw;
    margin-top: 4rem;
  }
}